name: Day5 - CI (Terraform + Checkov)

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  ci:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash

    env:
      TF_IN_AUTOMATION: "true"
      ARM_USE_OIDC: "true"
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    steps:
      - uses: actions/checkout@v4

      # Make your local absolute module paths work on GitHub runner
      - name: Create Junction for absolute module paths
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path "C:\Users\Administrator\azure-governance-landing-zone\infra" | Out-Null
          if (Test-Path "C:\Users\Administrator\azure-governance-landing-zone\infra\terraform") {
            cmd /c rmdir "C:\Users\Administrator\azure-governance-landing-zone\infra\terraform" 2>$null
          }
          cmd /c mklink /J "C:\Users\Administrator\azure-governance-landing-zone\infra\terraform" "$env:GITHUB_WORKSPACE\infra\terraform"

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform fmt/validate/plan (dev)
        run: |
          terraform -chdir=infra/terraform/envs/dev init -input=false -backend=false
          terraform -chdir=infra/terraform/envs/dev fmt -check -recursive
          terraform -chdir=infra/terraform/envs/dev validate -no-color
          terraform -chdir=infra/terraform/envs/dev plan -no-color -input=false -lock=false -refresh=false

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Checkov
        shell: pwsh
        run: |
          python -m pip install --upgrade pip
          pip install checkov

      - name: Checkov scan
        shell: pwsh
        run: |
          checkov -d infra/terraform --config-file .checkov.yaml
